.owner_body{
  background-color: #fdef96;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 100px;
}

h1{
  color: #fff;
}

h1,h2{
  padding-top: 20px;
  padding-bottom: 20px;
}

.history_h1{
  margin-bottom: 50px;
}

.owner_table{
  text-align: center;
  margin: auto;
}

form{
  margin: 5px;
}

.nav{
  text-align: center;
  margin: 0;
}

.owner_h1{
  background-color: #b1a81b;
}

input.btn-pls{
    background-color: #afa939;
    border-color: #afa939;

}

input.btn-pls:not(:disabled):not(.disabled).active, input.btn-pls:not(:disabled):not(.disabled):active, .show>input.btn-pls.dropdown-toggle {
    color: #fff;
    background-color: #2b580c;
    border-color: #2b580c;
    border: 0;
    box-shadow: 0;
}
input.btn-pls:hover{
    background-color: #2b580c;
    border-color: #2b580c;
}

label.btn-pls{
    background-color: #afa939;
    border-color: #afa939;

}

label.btn-pls:not(:disabled):not(.disabled).active, label.btn-pls:not(:disabled):not(.disabled):active, .show>label.btn-pls.dropdown-toggle {
    color: #fff;
    background-color: #2b580c;
    border-color: #2b580c;
    border: 0;
    box-shadow: 0;
}
label.btn-pls:hover{
    background-color: #2b580c;
    border-color: #2b580c;
}

input.owner_form{
  margin: auto;
  text-align: center;
}

label.owner_form{
  margin: auto;

}

.custom-file-input:lang(ja) ~ .custom-file-label::after {
  content: "参照";
}

.footer{
  text-align: center;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #b1a81b;
  position: fixed;
}

table {
    /*border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;*/
    font-size: x-large;
    font-style: normal;
    /*color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 20px;
    font-variant: normal;*/


table {
    border-collapse:  collapse; /* セルの線を重ねる */
}

tr:nth-child(odd) {
    background-color:  rgba(177, 168, 27,0.3);   /* 背景色指定 */
}

th,td {
    padding: 5px 10px;          /* 余白指定 */
}
