.body{
    background-color: #fdef96;
}
.body.index_body{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.table_c{
    margin-top: 10%;
}
img.logo{
    text-align: center;
    width: ;
    height: 12%;
    margin: 0 auto 0 auto;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #fff;
}
.btn-pls{
    background-color: #afa939;
    border-color: #afa939;
}


.btn-pls:hover{
    background-color: #2b580c;
    border-color: #2b580c;
}

.btn-c{
    background-color: #fff;
    border-color: #fff;
    color: #2b580c;
}
.btn-c:not(:disabled):not(.disabled).active, .btn-c:not(:disabled):not(.disabled):active, .show>.btn-c.dropdown-toggle {
    background-color: #fff;
    border-color: #fff;
    color: #2b580c;
    font-weight: bolder;
}

.btn-pls:not(:disabled):not(.disabled).active, .btn-pls:not(:disabled):not(.disabled):active, .show>.btn-pls.dropdown-toggle {
    background-color: #fff;
    border-color: #fff;
    color: #2b580c;
    font-weight: bolder;
}

.btn-c:hover{
    background-color: #fff;
    border-color: #fff;
    color: #2b580c;
    font-weight: bolder;
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    width: 80%;
    background: #fff;
    padding: 0 2%;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;

}


.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}


#sidebarMenu {
    overflow: auto;
    height: 100%;
    position: fixed;
    right: 0;
    width: 20%;
    background: linear-gradient(180deg, #b1a81b 0%, #f3ca6b 100%);
    z-index: 1000;
}
.sidebarMenuInner{
    margin:0;
    margin-bottom: 80px;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px 10px 0 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.group{
    display:flex;
    justify-content: space-around;
}
.group_s{
    border-left: 3px;
}
.sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.90);
}
.group_s.btn {
    display: inline-block;
    font-weight: 400;
    color: #2b580c;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.group_s.number{
    font-size:1rem;
    padding-top: 3px;
}

img{
    width: 180px;
    height: 180px;
    object-fit: contain;
}

div.col_size{
    margin-bottom:2%;

    padding:0;
}

a.f_text{
    color:#2b580c;
}

div.modal_footer_padding{
    padding-top:0;
    padding-bottom:0;
}

select.my_select {
margin-right: 10px;
margin-top: 10px;
margin-left: 9px;
}
form.decide{
    margin:0;
}
